* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
  /* box-sizing: border-box; */
}

.background {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.website {
  display: block;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
}

.website header {
  font-family: 'Merriweather', serif;
  font-size: 33px;
  color: white;
  padding: 40px;
}

.weather-info {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 80%;
  background-image: linear-gradient(rgb(81, 163, 207), rgb(76, 117, 199));
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  align-self: flex-start;
}

.search {
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search p {
  padding: 10px;
  display: none;
  font-style: italic;
  color: rgb(227, 227, 227);
}

.search input {
  border: 0;
  outline: 0;
  background: white;
  color: rgb(111, 111, 111);
  padding: 5px;
  border-radius: 15px;
  height: 40px;
}

.search button {
  border: 0;
  outline: 0;
  background: white;
  color: white;
  padding: 9px;
  border-radius: 25px;
  height: 40px;
  cursor: pointer;
}

.search button img {
  max-width: 25px;
}

.date {
  padding: 20px;
  color: rgb(158, 235, 247);
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.city {
  padding: 5px;
  padding-top: 35px;
  color: white;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}

.temp {
  padding-bottom: 20px;
  color: white;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}

.weather {
  display: none;
}

.weather-icon {
  max-width: 50px;
  padding: 10px;
}

.conditions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.column img {
  max-width: 40px;
  padding-bottom: 13px;
}

.humidity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
  margin: 5px;
}

.wind {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
  margin: 5px;
}

.saved-searches {
  display: none;
  font-family: 'Merriweather', serif;
  padding-top: 35px;
  color: rgb(226, 184, 228);
}

.saved-searches button {
  font-family: 'Merriweather', serif;
}

.search-handler {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-title {
  padding: 10px;
  font-family: 'Merriweather', serif;
  text-align: left;
}

#history {
  display: grid;
  text-align: center;
  padding-top: 15px;
  color: rgb(218, 163, 215);
}

.five-day {
  display: none;
  align-items: center;
  width: 80%;
  background-image: linear-gradient(rgb(81, 163, 207), rgb(153, 118, 230));
  margin: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.tempy, .future-day {
  padding: 15px;
}

.future-date {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 2px;
  color: rgb(56, 68, 119);
}

.windy .humid {
  font-size: 10px;
  text-align: center;
  padding: 5px;
}

.resize {
  width: 25px;
  height: auto;
}

.clear {
  text-align: left;
  background-color: transparent;
  border-color: pink;
  color: pink;
  border-radius: 20px;
  padding: 5px;
}
